<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TeamPlay ChangePassword</title>
    <% include blocks/title %>
</head>
<body>
    <% include blocks/loader %>
    <section class="app-container">
        <table style="width: 100%; height: 100%; position: absolute;">
            <tr align="center">
                <td valign="center">
                    <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span class="text-info">* Длина пароля не менее 5 символов</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <form action="javascript:void(null)" class="ChangePasswordForm" method="post">
                                        <input type="text" name="username" hidden value="<%= username %>">
                                        <input type="password" class="form-control mb-2" name="firstpass" placeholder="Новый пароль">
                                        <input type="password" class="form-control mb-2" name="secondpass" placeholder="Повтор пароля">
                                        <button class="btn btn-info">Изменить пароль</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span class="h4 text-info" id="Message"></span>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        </table>
    </section>
    <script>
    $(document).ready(function() {
        $('.ChangePasswordForm').submit(function() {
            var data = $('.ChangePasswordForm').serialize();
            $.ajax({
                type: 'POST',
                url: 'ChangePassword',
                data: data,
                dataType: 'text',
                success: function(data) {
                    console.log(data);
                    if (data == 'true') location.href = '/';
                    else if (data == 'incorrect_pass') $("#Message").text('Неверный повтор или короткий пароль');
                    else if (data == 'null_data') $('.form-control').css('border', 'solid 2px red')
                },
                error: function(xhr, str) {
                    alert('Возникла ошибка: ' + xhr.responseCode);
                }
            });
        })
    })
    </script>
    <% include blocks/footer %>
</body>

</html>