<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TeamPlay EditPanel</title>
  <link rel="stylesheet" href="/public/css/EditGame/style.css">
  <link rel="stylesheet" href="/public/css/CustomControls.css">
  <% include blocks/title %>
</head>

<body>
  <% include blocks/loader %>
  <% include blocks/header %>
  <section>
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="h1 text-info"><%= game.GameName %></h1>
        </div>
      </div>
      <div class="row SettingsGroup mt-2">
        <div class="col-md-12 m-2 text-center">
          <span class="h4">Ограничения на действия участников</span>
          <br><span class="Time_info_label"></span>
          <table style="width: 100%">
            <tr>
              <td>
                <label class="h5">Выбор вопроса</label>
                <input type="number" min="0" step="1" class="form-control" id="SelectionTime"
                  value="<%= game.SelectionTime %>">
              </td>
              <td valign="bottom">
                <span>сек.</span>
              </td>
              <td valign="bottom">
                <span>сек.</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row SettingsGroup mt-2">
        <div class="col-md-12 text-center">
          <div class="alert alert-primary text-center CreateCategory mt-2" data-toggle="modal"
            data-target="#CreateCategoryModal">
            <i class="fa fa-plus fa-2x text-secondary"></i><span class="h2"> Добавить категорию</span>
          </div>
          <div class="alert alert-success m-2 text-center CreateQuestion mt-2" onclick="OpenCreateQuestionModal();">
            <i class="fa fa-plus fa-2x text-secondary"></i><span class="h2"> Добавить вопрос</span>
          </div>
        </div>
      </div>
      <div class="row mt-2 SettingsGroup CategoriesList">

      </div>
    </div>

    <div class="modal fade" id="CreateCategoryModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Создать категорию</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form action="javascript:void(null)" id="CreateCategoryForm">
              <div class="form-group">
                <input type="text" class="form-control" id="CategoryName" placeholder="Название" required="">
              </div>
              <div class="form-group text-right">
                <button class="btn btn-outline-primary h2">Create</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="CreateQuestionModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Создать вопрос</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form action="javascript:void(null)" enctype="multipart/form-data" class="CreateQuestionForm">
              <div class="form-group">
                <label>Выберите категорию</label>
                <select class="form-control CreateQuestionCategoriesList" name="CategoryId">

                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="QuestionText" id="QuestionText"
                  placeholder="Текст вопроса" required="">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="QuestionCost" id="QuestionCost" min="0" step="10"
                  placeholder="Стоимость" required="">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="AnswerTime" id="AnswerTime" min="0" step="1"
                  placeholder="Время на ответ в секундах" required="">
              </div>
              <div class="form-group">
                <label>Изображение к вопросу</label>
                <label class="text-danger">2 МБ</label>
                <input type="file" class="form-control" name="QuestionImage" id="QuestionImage">
              </div>
              <div class="form-group text-right">
                <button class="btn btn-outline-primary h2">Create</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="EditModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title EditModal_Tittle"></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form action="javascript:void(null)" enctype="multipart/form-data" class="Edit_Form">
              <div class="form-group text-right EditModal_Body">

              </div>
              <div class="form-group text-right">
                <button class="btn btn-outline-primary h2">Update</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </section>
</body>
<script src="/public/js/EditGame/index.js"></script>
<script src="/public/js/animateCSS.js"></script>

</html>