<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>TeamPlay Home</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <% include blocks/title %>
</head>

<body>
    <% include blocks/loader %>
    <% include blocks/header %>
    <section class="app-container">
        <div class="container">
            <div class="row">
                <% include blocks/navigation-area %>
                <div class="col-md-10 working-area mt-2">
                    <div class="row">
                        <% if (games.length > 0) { %>
                        <% games.forEach(function(quiz){ %>
                        <%- include('blocks/quiz', {quiz: quiz}); %>
                        <% }); %>
                        <button class="btn btn-outline-success ml-2 mt-2 h1 btnCreateQuiz">Создать</button>
                        <% } else { %>
                        <% include blocks/greetings %>
                        <% } %>
                    </div>
                </div>
            </div>
    </section>
    <% include blocks/footer %>
</body>
<% include blocks/socket %>
<script src="/public/js/animateCSS.js"></script>
<script src="/public/js/home.js"></script>

</html>