<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TeamPlay HOME</title>
    <% include blocks/tittle %>
    <link rel="stylesheet" href="/public/css/ControlPanel/style.css">
  </head>
  <% include blocks/loader %>
  <body>
  	<section>
  		<table style="width: 100vw; height: 100vh;">
  			<tr>
  				<td>
  					<div class="container">
  						<div class="row">
  							<div class="col-md-12 text-center">
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <img src="public/images/logo.svg" width="100" height="100">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <h1>TeamPlay</h1>
                    </div>
                  </div>
                  <div class="row mb-2">
                      <div class="col-md-12">
                        <h2>Выберите команду</h2>
                      </div>
                    </div>
  								<form class="StartForm" action="javascript:void(null)">
  									<div class="form-group">
                        <div class="container">
                            <div class="card-columns">
                                <% for(var team in teams) {%>
                                  <div class="card Team" id="Team-<%= teams[team]['team.TeamId'] %>" title="Нажмите для входа">
                                      <div class="card-body text-center">
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <span class="h1"><%= teams[team]['team.TeamName'] %></span>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <span class="h2"><%= teams[team]['team.GroupName']%></span>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12 text-center">
                                                  <span class="h4"><u>Capitan: <%= teams[team].PlayerFamily
                                                     + '.' + teams[team].PlayerName.charAt(0)
                                                     + '.' + teams[team].PlayerLastName.charAt(0) %></u></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                <%} %>
                            </div>
                        </div>
                    </div>
  								</form>
  							</div>
  						</div>
            </div>
  				</td>
  			</tr>
  		</table>
  	</section>
  </body>
  <script>
    $(document).ready(function() {
      $('.Team').click(function () {
        $.ajax({
          type: "POST",
          url: 'Start',
          data: {TeamId: $(this).attr('id').split('Team-')[1]},
          dataType: 'text',
          success: function(data) {
            if (data)
              location.href = 'Room';
            if (data == 'team_not_exists')
              Swal("Ошибка", "Такой команды не существует или она была удалена", "error");
          },
          error: function(xhr, str) {
            alert('Возникла ошибка: ' + xhr.responseCode);
          }
        });
      });
    });
  </script>
</html>
