<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TeamPlay Info</title>
  <% include blocks/title %>
</head>

<body>
  <section>
    <table style="height: 98vh; width: 100%;">
      <tr align="center">
        <td valign="center">
          <span class="h1"><%= message == 'ADMIN_KICK' ? 'Ваша команда исключена Администратором' : message == 'LEAVE_ROOM' ? 'Вы хотите покинуть комнату ' + room.RoomName + '?' : message %></span>
        </td>
      </tr>
      <tr align="center">
        <td valign="center">
            <% if (message == 'LEAVE_ROOM') {%>
              <a class="btn btn-success mr-2" href="/leaveRoom">Да</a> <a class="btn btn-info" href="/room/<%= room.RoomTag %>">Нет</a>
              <%} else {%>
                <a href="/">Home</a>
              <%}%>
        </td>
      </tr>
    </table>
  </section>
</body>

</html>