<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include blocks/title %>
    <title>Document</title>

</head>

<body>
    <form id="notificationForm"></form>
    <form action="" id="notification-form">
        <input type="text" id="senderId" placeholder="senderId">
        <input type="text" id="receiverId" placeholder="receiverId">
        <input type="text" id="header" placeholder="header">
        <input type="text" id="mainText" placeholder="mainText">
        <input type="text" id="isInfoNotification" placeholder="isInfoNotification">
        <input type="submit" value="post" id="submit-btn">
    </form>
</body>
<script>
    $('#notification-form').on('submit', function (event) {
        $.ajax({
            type: "POST",
            url: 'teamOperation/invite',
            data: {
                receiverId: $('#receiverId').val(),
                senderId: $('#senderId').val(),
                header: $('#header').val(),
                mainText: $('#mainText').val(),
                isInfoNotification: $('#isInfoNotification').val()
            },
            dataType: 'text',
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, str) {
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
        event.preventDefault();
    });
</script>

</html>