<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include blocks/title %>
    <title>Document</title>
</head>

<body>

    <form action="" id="roomform">
        <input type="text" id="roomName" placeholder="roomName">
        <input type="text" id="roomCreator" placeholder="roomCreator">
        <input type="text" id="action" placeholder="action">
        <input type="text" id="userId" placeholder="userId">
        <input type="submit" value="post" id="submit-btn">
    </form>
</body>
<% include blocks/socket %>
<script>
    //переменная для теста
    const roomTag = 'stas--logvin';
    $('#roomform').on('submit', function (event) {
        switch ($('#action').val()) {
            case 'createRoom':
                socket.emit('createRoom', $('#roomName').val(), $('#roomCreator').val());
                break;
            case 'getRoomPlayers':
                socket.emit('getRoomPlayers', roomTag);
                break;
            case 'getCreatorStatus':
                socket.emit('getCreatorStatus', roomTag);
                break;
            case 'enter room':
                socket.emit('enter room', $('#userId').val(), roomTag);
                break;
            case 'leave room':
                socket.emit('leave room', $('#userId').val(), roomTag);
                break;

            default:
                console.log('wrong operation');
                break;
        }

        event.preventDefault();
    });

    socket.on('entered room', function (user) {
        console.log(user.UserFIO);
    });
    socket.on('left room', function (user) {
        console.log(user.UserFIO);
    });
    socket.on('roomAdded', function () {
        console.log("room was created successfully");
    });

    socket.on('roomExists', function () {
        console.log("room with the same name is already exists");
    });

    socket.on('sendRoomPlayers', function (users) {
        if (users.err) {
            console.log(users.err)
        } else {
            console.log(users.result);
        }
    });

    socket.on('user logged in', user => {
        console.log('user logged in')
        console.log(user)
    })

    socket.on('sendCreatorStatus', function (status) {
        console.log(status);
    });


</script>

</html>