<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TeamPlay Room</title>
  <link rel="stylesheet" href="/public/css/room.css">
  <% include blocks/title %>
</head>

<body>
  <% include blocks/loader %>
  <% include blocks/header %>
  <section class="app-container">
    <div class="organizer">
      <span class="organizer-connection" connection="false">•</span>
      <img class="user_organizer" src="/public/user_organizer.png" alt="">
      <span class="organizer_name"></span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 id="RoomName"><%= room.RoomTag %></h1>
          <% if(roomPlayer.isRoomCreator == true) {%>
          <label class="h5">Удалить комнату</label>
          <button class="btn btn-danger btnRemoveRoom" roomId="<%= room.RoomId %>"><i class="fa fa-trash text-white"></i></button>
          <%} %>
        </div>
      </div>
      <div class="row group-list text-center">
        
      </div>
    </div>
  </section>
  <% include blocks/footer %>
</body>
<% include blocks/socket %>
<script src="/public/js/animateCSS.js"></script>
<script src="/public/js/room.js"></script>
</html>