<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include blocks/include %>
</head>

<body>

</body>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '/team-operation/changeCapitan',
            data: { oldCapitanId: 171, newCapitanId: 169, teamId: 74 },
            dataType: 'text',
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, str) {
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
    });
</script>

</html>