body
{
    background-color: beige;
}

.main-menu > .btn
{
    width: 100%;
    margin-bottom: 1rem;
}

.app-container
{
    padding-right: 0px!important;
    padding-left: 0px!important;
    margin-right: unset!important;
    margin-left: unset!important;
}

.navigation-area, .working-area
{

}

.quiz
{
    width: 15rem;
    border: solid 1.75px #eee;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-i
{
    font-size: 15px;
}

.quiz-col-40
{
    width: 40%;
    padding-left: 1rem;
}

.quiz-col-55
{
    width: 55%;
}

.quiz:hover
{
    border-color: #ddd;
}

@media screen and (max-width: 400px)
{
    .main-menu > .btn
    {
        margin-bottom: 5px;
    }

    .quiz
    {
        width: 100%;
    }
}