body {
	background-color: beige;
}

.user_organizer {
	width: 3rem;
}

.Player {
	border: solid 1.75px #eee;
}

.main-menu > .btn {
	width: 100%;
	margin-bottom: 1rem;
}

.app-container {
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: unset !important;
	margin-left: unset !important;
}

.room {
	width: 15rem;
	border: solid 1.75px #eee;
	border-radius: 5px;
	cursor: pointer;
}

.navbar {
	position: fixed!important;
    width: 100%!important;
    z-index: 2;
}

.user, .team
{
	border: solid 1.75px #eee;
	border-radius: 5px;
	cursor: pointer;
}

.TeamCoach {
	left: 50%;
	position: relative;
}

.greetings-img {
	width: 5rem;
}

.centred-table {
	width: 100%;
	height: 100%;
	position: relative;
}

@media screen and (max-width: 400px) {
	.main-menu > .btn {
		margin-bottom: 5px;
	}
}
/*Panel Team*/
.teams {
	width: 15rem;
	margin-top: 5%;
	border: solid 3px rgba(6, 126, 26, 0.281);
	border-radius: 5px;
	cursor: pointer;
}
.imgbord {
	border: solid 2px rgba(4, 18, 48, 0.281);
}

.page-header {
	border-color: #343a40!important;
}