.navigation-area {
    position: fixed;
    display: inline-block;
    width: 20%;
    height: 94.2vh;
    background-color: #397798;
    transition: all 0.3s;
    z-index: 1;
    top: 3.5rem;
}

.menu-item {
    width: 100%;
    min-height: 2.5rem;
    background-color: #2b566e;
    text-align: left;
    padding-left: 25px;
}

.menu-item:hover {
    background-color: #204255;
}

.menu-item:active {
    background-color: #18303f;
}

.menu-item > span {
    position: relative;
    top: 4px;
    font-size: 20px;
    color: whitesmoke;
    -webkit-user-select: none;
}

.menu-item > span:hover {
    cursor: default;
}

.navigation-area > .current {
    background-color: #3d7b9c;
}

.item-name {
    transition: all 0.3s;
}

@media screen and (max-width: 690px)
{
    .item-name {
        
        font-size: 0px!important;
    }

    .menu-item {
        text-align: center;
        padding-left: 0;
    }
}