.quiz {
	margin: 5px;
	width: 18rem;
	height: 11.18rem;
	border: solid 0.75px rgb(51, 51, 51);
	border-radius: 1px;
	display: inline-block;
}

.quiz-name {
	max-height: 11rem;
	overflow: hidden;
	transition: all 0.4s;
}

.quiz-hover {
	font-size: 0px;
	transition: all 0.4s;
}

.quiz-row:hover .quiz-name{
	font-size: 10px;
}

.quiz-row:hover .quiz-hover {
	font-size: 25px;
}