.players-list
{
    border: solid 1.75px #eee;
    border-radius: 5px;
    padding: 1rem;
}

.user_organizer
{
    width: 3rem;
}

.organizer-connection
{
    position: absolute;
    top: 3.3rem;
    left: 2.4rem;
    font-size: 4rem;
    transition: 0.3s all;
}

.organizer-connection[connection="true"]
{
    color: #28a745!important
}

.organizer-connection[connection="false"]
{
    color: #dc3545!important;
}

.Player
{
    border: solid 1.75px #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.67rem!important;
    margin-right: 0.67rem!important;
}