<!--footer class="footer bg-info">
    <div class="row">
        <div class="col-md-4 text-center">
            info@teamplay.space
        </div>
        <div class="col-md-4 text-center">
            Teamplay 2019
        </div>
        <div class="col-md-4 text-center">
            
        </div>
    </div>
</footer-->