<table class="centred-table">
    <tr align="center">
        <td valign="center">
            <div class="container greetings">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="/public/images/logo.svg" class="greetings-img" alt="">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <h1><%= btnName == 'btnCreateQuiz' ? 'Проведите викторину удаленно в TeamPlay' : btnName == 'btnCreateRoom' ? 'В комнату могут подключаться команды' : 'Команда — игровое сообщество' %></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Создайте <%= btnName == 'btnCreateQuiz' ? 'викторину и добавьте в нее вопросы' : btnName == 'btnCreateRoom' ? 'комнату для проведения игры' : 'команду' %> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-outline-success h1 <%= btnName ? btnName : 'btnCreateQuiz' %>">Создать</button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>