<table class="centred-table">
  <tr align="center">
    <td valign="center">
      <div class="container greetings">
        <div class="row">
          <div class="col-md-12 text-center">
            <img src="/public/images/logo.svg" class="greetings-img" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>
            Создайте
            <% if(btnName === 'btnCreateQuiz'){ %>
                викторину и добавьте в нее вопросы
            <% } else if(btnName === 'btnCreateRoom'){ %>
                комнату для проведения игры
            <% } else if(btnName === 'btnCreateTeam'){ %>
                 команду для участия в викторинах
            <% } %>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-outline-success h1 <%= btnName%>">Создать</button>

          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
