<nav class="navbar bg-dark navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="/public/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span>TeamPlay</span>
    </a>
    <div>
        <span class="nav-item nav-notifications"><i id="nav-ring" class="fa fa-bell text-white"></i></span>
        <a href="/user" class="nav-item"><i class="fas fa-user text-white ml-4"></i></a>
        <a href="/logout" class="nav-item"><i class="fas fa-sign-out-alt text-white ml-2"></i></a>
    </div>
</nav>
<div class="notifications-menu">
    <div class="no-new-notifications"></div>
    <div class="notifications"></div>
</div>
<script src="/public/js/nav.js"></script>