<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/public/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span>TeamPlay</span>
    </a>
    <a href="/logout" class="btn btn-outline-info">Logout</a>
</nav>