<div class="col-md-2 navigation-area collapse show">
        <div class="row">
            <div class="col-md-12">
                <div class="ml-2 mt-2 main-menu">
                    <a class="btn <%= page == 'home' ? 'btn-success' : 'btn-info' %> h4" href="/home">Мои микторины</a>
                    <a class="btn <%= page == 'rooms' ? 'btn-success' : 'btn-info' %> h4" href="/rooms">Комнаты</a>
                    <!--a class="btn btn-info h4" disabled>Общий доступ</a-->
                    <a class="btn h4 <%= page == 'teams' ? 'btn-success' : 'btn-info' %>" href="/teams">Команды</a>
                    <a class="btn h4 <%= page == 'users' ? 'btn-success' : 'btn-info' %>" href="/users">Игроки</a>
                    <!--a class="btn btn-info h4" disabled>Организаторы</a-->
                </div>
            </div>
        </div>
    </div>