<div class="col-md-2 navigation-area">
        <div class="row">
            <div class="col-md-12">
                <div class="ml-2 mt-2 main-menu">
                    <button class="btn btn-info h4">Мои микторины</button>
                    <a class="btn btn-info h4" href="/rooms">Комнаты</a>
                    <button class="btn btn-info h4" disabled>Общий доступ</button>
                    <button class="btn btn-info h4">Команды</button>
                    <button class="btn btn-info h4">Игроки</button>
                    <button class="btn btn-info h4" disabled>Организаторы</button>
                </div>
            </div>
        </div>
    </div>