<div class="row">
    <div class="col-md-12 text-center mb-2">
        <div class="QuestionArea">
            <div class="row">
                <div class="col-md-12 text-center mb-2 CategoryName"><%=categoryName%></div>
            </div>
            <%=currentQuestion.QuestionText%>
        </div>
    </div>
</div>