<div class="btn btn-outline-success btnCreateQuiz btnCreate">
        <table class="centred-table">
                <tr align="center" class="quiz-row">
                        <td valign="center">
                                <div class="quiz-name">
                                        <i class="fa fa-plus"></i>
                                </div>
                        </td>
                </tr>
        </table>
</div>
<% games.forEach(function(quiz) { %>
<div class="quiz alert" gameTag="<%= quiz.GameTag %>">
        <table class="centred-table">
                <tr align="center" class="quiz-row">
                        <td valign="center">
                                <div class="quiz-name h1">
                                        <%= quiz.GameName %>
                                </div>
                                <div class="quiz-hover">
                                        <a href="/EditGame/<%= quiz.GameTag %>" class="m-auto"
                                                style="text-decoration: none;">
                                                <%if (quiz.isQuizCreator) {%>
                                                <i class="fas fa-pencil-alt"></i>
                                                <%} else {%>
                                                <i class="fa fa-eye"></i>
                                                <%}%>
                                        </a>
                                        <%if (quiz.isQuizCreator) {%>
                                                <a href="#" class="btnRemoveGame" gameId="<%= quiz.GameId %>"><i
                                                                class="fa fa-trash m-auto"></i></a>
                                                <%}%>
                                </div>
                        </td>
                </tr>
        </table>
</div>
<% }); %>