<div class="row Player Player-<%= user.userId %> mt-2 mb-2">
    <div class="col-md-12 text-left">
        <img class="user_organizer" src="/public/user-icon.png" alt="">
        <a href="/user/<%= user.userId %>" style="font-size: 30px; position:relative; top: 5%"><%= user.FIO %></a>
        <%if (user.isCoach) { %>
        <span style="position: absolute; left:90%; bottom:30%"><i class="fas fa-star text-warning"></i></span>
        <% } %>
    </div>
</div>