<div class="quiz col-md-4 ml-2 mt-2">
    <div class="row">
        <div class="quiz-col-40">
            <img src="https://picsum.photos/100/100" class="mt-1 ml-1 img-fluid rounded" alt="">
        </div>
        <div class="text-center mt-1 quiz-col-55">
            <a href='/user/<%=user.userId%>'>
                <%if (user.isCoach) { %>
                <i class="fas fa-star"></i>
                <% } %>
                <span class="text-dark h5"><%= user.memberFIO %></span></a>
        </div>
    </div>
</div>