<div class="team">
    <div class="row">
        <div class="quiz-col-40">
            <div>
                <span class="text-dark h5 font-weight-bold">Name Тeam</span>
            </div>
            <div>
                <span><i class="fas fa-fire-alt text-danger p-1"></i>Новичок</span>
            </div>
            <div>
                <span><i class="far fa-smile text-success pl-2"></i> 20000</span>
            </div>
            <div>
                <span><i class="far fa-meh text-warning pl-2"></i> 10000</span>

            </div>
            <div>
                <span><i class="far fa-frown text-danger pl-2 "></i> 10000</span>
            </div>
        </div>
        <div>
            <img style="position:relative; left: 18%" src="https://picsum.photos/110/110"
                class="mt-1 ml-1 img-fluid rounded imgbord" alt="">
        </div>
    </div>
    <div class="row">
        <div class="quiz-col-40 TeamCoach">
            <div class="row">
                <div class="col-md-12 text-left">
                    <span><i class="fas fa-user-tie "></i> Иванов Иван </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <span class="text-dark h5"><i class="fas fa-users"></i> 700</span>
                </div>
            </div>
        </div>
    </div>
    
</div>