<div class="quiz col-md-4 ml-2 mt-2">
    <div class="row">
        <div class="quiz-col-40">
            <img src="https://picsum.photos/100/100" class="mt-1 ml-1 img-fluid rounded" alt="">
        </div>
        <div class="text-center mt-1 quiz-col-55">
            <span class="text-dark h5"><%= team.TeamName %></span>
            <button class="btn btn-outline-success ml-2 mt-2 h1" onclick="teamInvite  ('<%= team.coachId %>')"><i class="fas fa-user-plus"></i> Вступить</button>
        </div>
    </div>
    <div class="row">
        <div class="quiz-col-40">
            <div class="row">
                <div class="col-md-12 text-left">
                    <span><i class="fas fa-star"></i> <%= team.teamCoachFIO %></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    <span class="text-dark h5">
                        <i class="fas fa-users"></i> <%= team.membersNum %></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/listItemAction.js"></script>